{{#each posts}}

<div>
    <div class="content-article">
        <div class="info-user">
            <span class="user">
                <img src="https://www.un.org/sites/un2.un.org/files/user.png" alt="users" class="user-logo">
                <a href="#">{{this.user.name}}</a>
            </span>
            <span class="date-post">сегодня в 11:41</span>
        </div>
        <div class="subject">
            <a href="http://localhost:5000/post/{{this.id}}">
                <h3>{{this.title}}</h3>
            </a>

        </div>
        <div class="tegs">
            {{#each (stringToArray this.tegs)}}
            <span class="tegs">
                <a href="#">{{this}}</a>
            </span>
            {{/each}}

        </div>
        <div class="photo-post"><img src="http://localhost:5000/postImages/{{this.imgName}}" alt="photo subject"></div>
        <div class="short-information">
            <span class="text">{{this.text}}</span>
        </div>
        <div class="actions">

            <a href="#" class="link-post btn "><span>Читать далее</span></a>

        </div>
        <div class="actions-icons">
            <i class="bi bi-star-fill icon-post">+5</i>
            <i class="bi bi-eye-fill icon-post">568</i>
            <i class="bi bi-bookmark-plus-fill icon-post">8</i>
            <i class="bi bi-chat-fill icon-post">72</i>

        </div>
    </div>{{!-- n --}}


</div>

{{/each}}